<!--<div class="carousel-wrapper">
  <owl-carousel-o class="" [options]="customOptions">
    <ng-container *ngFor="let slide of slides">
      <ng-template carouselSlide [id]="slide.id.toString()">
        <div class="slide">
          <img [src]="slide.url" [alt]="slide.alt" [title]="slide.title">
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>-->


  <div class="flex">
    <div class="frontImage" alt=""></div>
  </div>


<main>


  <section id="mostre">

    <div class="grid">
      <div class="gridContent" ></div>
      <div class="gridContent" ></div>
      <div class="gridContent" ></div>
      <div class="gridContent" ></div>
      <div class="gridContent"></div>
      <div class="gridContent"></div>
    </div>
  </section>

  <div class="separator"></div>

  <section id="news">

    <div class="flex">
     <!-- <ng-container *ngFor="let new of news.slice(0,3)">
        <app-card-news [news]="new"></app-card-news>
      </ng-container> -->
      <div class="fulldiv"></div>
    </div>

  </section>

  <div class="separator"></div>

  <section id="news2">

      <div class="gridMinor">
        <div class="gridContent"></div>
        <div class="gridContent"></div>

     </div>

  </section>

  <div class="separator"></div>

  <section id="news3">


  <div class="flex">
    <div class="fulldiv"></div>
  </div>

  </section>

</main>

<section class="newsletter">
  <img src="../../../../assets/images/Newsletter.png" alt="">
</section>
