.hmain{
  padding-left: 8vh;
}
section{
  padding-left: 8vh;
  padding-right: 8vh;
}

.cardContainer {
  margin-top: 3vh;
}

.example-card {
  max-width: 100vw;
}

.mat-card-image {
  max-width: 30rem;
}

.cardTitleContainer h2 {
  position: absolute;
  left: 5px;
  color: #000;
  font-size: 32px;
  font-family: Inter;
}

mat-grid-tile{
  color: #000;
  font-size: 16px;
  font-family: Inter;
  margin: 2vw;
}

.mat-card{
  box-shadow: none!important;
}


.mat-card button{
  width: 30%;
  position:absolute;
  right: 10px;
}

.text-inside-grid {
  display: flex!important;
  align-self: start!important;
}

@media (max-width: 480px) {
  .hmain{
    padding-left: 1vh;
  }

  section{
    padding-left: 1vh;
    padding-right: 1vh;
  }

  .mat-card button{
    width: 100%;
  }

}
