<footer fxFlex fxLayout="row">
  <div class="">
    <div class="left" fxLayout="column">
      <img src="https://www.museoman.it/system/modules/it.consulmedia.template/resources/img/logo_MAN.png" alt="Logo">
      <p></p>
      <span class="mat-caption">via Sebastiano Satta 27 - 08100 Nuoro</span>
      <span class="mat-caption">T. +39.0784.252110</span>
      <span class="mat-caption">F. +39.0784.36243</span>
      <span class="mat-caption">Orario continuato: 10 - 19 | Lunedì chiuso</span>
      <span class="mat-caption">info@museoman.it</span>
    </div>
  </div>
  <div class="">
    <div >
      <div class="logos">
        <img src="https://www.museoman.it/system/modules/it.consulmedia.template/resources/img/amaci_logo.svg" alt="" srcset="">
        <img src="https://www.museoman.it/system/modules/it.consulmedia.template/resources/img/icom_logo.svg" alt="" srcset="">
      </div>
      <div class="social" fxLayoutAlign="space-evenly center">
        <a href="https://www.facebook.com/HeritageMuseumsandGardens" target="_blank">
          <i class="green fab fa-facebook fa-xl" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/HeritageMuseumsandGardens" target="_blank">
          <i class="green fab fa-twitter fa-xl" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/HeritageMuseumsandGardens" target="_blank">
          <i class="green fab fa-instagram fa-xl" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
