<div class="content-card">

  <form [formGroup]="searchForm" class="py-12">
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <mat-form-field fxFlex>
        <input formControlName="titolo" matInput placeholder="Titolo">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input formControlName="testo" matInput placeholder="Testo">
      </mat-form-field>
      <mat-form-field fxFlex>
          <input formControlName="data_inizio" matInput [matDatepicker]="pickerInizio" placeholder="Inizio dell'evento">
          <mat-datepicker-toggle matSuffix [for]="pickerInizio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInizio></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input formControlName="data_fine" matInput [matDatepicker]="pickerFine" placeholder="Fine dell'evento">
        <mat-datepicker-toggle matSuffix [for]="pickerFine"></mat-datepicker-toggle>
        <mat-datepicker #pickerFine></mat-datepicker>
    </mat-form-field>
      <div fxFlex="144px">
        <button mat-raised-button (click)="search()" class="mt-4 mx-4" aria-label="Cerca" title="Ricerca">
          <mat-icon class="mat-24" >search</mat-icon>
        </button>
        <button mat-raised-button (click)="clear()" class="mt-4 mx-4" aria-label="Reset" title="Resetta i campi">
          <mat-icon class="mat-24">clear</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8 mt-20">
    <mat-table #table [dataSource]="dataSource" class="table-condensed" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell fxFlex="74px" *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell fxFlex="74px" *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="titolo">
        <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header>Titolo</mat-header-cell>
        <mat-cell fxFlex *matCellDef="let row">{{ row.titolo }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="testo">
        <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header>Testo</mat-header-cell>
        <mat-cell fxFlex *matCellDef="let row" [innerHtml]="(row.testo.length > 150) ? (row.testo | slice:0:150)+'...':(row.testo)"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="data">
        <mat-header-cell fxFlex *matHeaderCellDef >Data (inizio, fine)</mat-header-cell>
        <mat-cell fxFlex *matCellDef="let row">{{ row.data_inizio | date }} - {{ row.data_fine | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dettagli">
        <mat-header-cell fxFlex="150px" *matHeaderCellDef>Dettagli</mat-header-cell>
        <mat-cell fxFlex="150px" fxLayoutGap="4px" *matCellDef="let row">
          <button mat-raised-button (click)="edit(row)" class="colorPrimary" aria-label="Seleziona" title="Modifica opera">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <div class="empty-table" *ngIf="dataSource.data.length===0">
      Nessun elemento presente. Per iniziare compila il form di ricerca
    </div>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]"> </mat-paginator>
  </div>
</div>
<ng-template #detailsModal let-data>
  <mat-dialog-content class="mat-typography">
    <h2 *ngIf="editItem && editItem.id" mat-dialog-title>Modifica Evento</h2>
    <h2 *ngIf="editItem && !editItem.id" mat-dialog-title>Inserisci Evento</h2>
    <form [formGroup]="editItemForm">
      <div fxLayout="row wrap" fxLayoutGap="12px">
        <mat-form-field fxFlex="calc(60% - 12px)">
          <input required formControlName="titolo" matInput placeholder="Titolo" maxlength="60">
        </mat-form-field>
        <mat-form-field fxFlex="calc(50% - 12px)">
          <input [required]="true" formControlName="data_inizio" matInput [matDatepicker]="pickerInizio" placeholder="Inizio dell'evento">
          <mat-datepicker-toggle matSuffix [for]="pickerInizio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInizio></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="calc(50% - 12px)">
          <input [required]="true" formControlName="data_fine" matInput [matDatepicker]="pickerFine" placeholder="Fine dell'evento">
          <mat-datepicker-toggle matSuffix [for]="pickerFine"></mat-datepicker-toggle>
          <mat-datepicker #pickerFine></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="calc(33% - 12px)">
          <input formControlName="luogo" matInput placeholder="Luogo">
        </mat-form-field>
        <mat-form-field fxFlex="calc(33% - 12px)">
          <input formControlName="orario" matInput placeholder="Orario">
        </mat-form-field>
        <mat-form-field fxFlex="calc(33% - 12px)">
          <input formControlName="costo" matInput placeholder="Costo dell'evento">
        </mat-form-field>
        <p></p>
        <div fxFlex="calc(100% - 12px)">
          <ckeditor formControlName="testo" [editor]="Editor" (ready)="onReady($event)"></ckeditor>
        </div>

      </div>
      <!-- ngx upload -->
      <div>
        <h2 class="allegati">Immagine</h2>
        <div class="ngx_upload">
          <ngx-upload [multiple]="true" [asDialog]="false" (afterUpload)="handleUpload($event)"
            (afterError)="handleUploadError($event)"></ngx-upload>
        </div>
      </div>
      <ng-container *ngIf="editItemForm.controls.immagini.value">
        <div class="" *ngFor="let a of editItemForm.controls.immagini.value">
          <div class="area_allegati">
            <div class="nome_allegato">
              <p>{{ a.originalFilename }}</p>
            </div>
            <div class="">
              <button class="" mat-raised-button title="Elimina allegato" (click)="deleteFile(a)" *ngIf="editItemForm.enabled">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <button class="" mat-raised-button title="Scarica allegato" (click)="downloadFile(a)" *ngIf="editItemForm.enabled">
                <mat-icon>download</mat-icon>
              </button>
            </div>
          </div>
          <hr>
        </div>
      </ng-container>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="save()" title="Salva opera" >Salva</button>
    <button mat-raised-button (click)="delete()" title="Elimina opera">Elimina</button>
    <button mat-raised-button mat-dialog-close title="Chiudi modale">Chiudi</button>
  </mat-dialog-actions>
</ng-template>

<div class="new-item">
  <button mat-fab class="colorPrimary" title="Inserisci nuova opera" aria-label="Inserisci una nuova opera" (click)="new()">
    <mat-icon>add</mat-icon>
  </button>
</div>
